################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/InventoryApi/InventorySystem/.vs/InventorySystem
/InventoryApi/InventorySystem/InventorySystem/obj
